# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
example/build/
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies

# Symbolication & Obfuscation
*.symbols
*.map.json
